*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
}

@font-face{
    font-family: 'nino-mtavruli';
    src: url(./font/bpg_nino_mtavruli_normal.ttf);
}

@font-face {
    font-family: 'bgp-arial';
    src: url(./font/bpg_arial_2009.ttf);
}

.nav-bar{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

ul{
    display: flex;
    list-style-type: none;
    font-weight: 100;
    margin-right: 35px;
}


li{
    margin-left: 30px;
    color: #e5e7eb;
    font-size: 14px;
    transition: 0.3s;
}



li:hover{
    opacity: 50%;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    padding: 90px;
    min-height: 75vh;
    max-height: 85vh;
    height: auto;
    width: 100%;
    
}

.home-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 90px;
    min-height: 70vh;
    max-height: 85vh;
    height: auto;
    width: 100%;
}

.audio{
    display: flex;
}

btn1{
    margin-top: 5px;
    transition: 0.3s;
    width: 65px;
}

btn2{
    margin-top: 5px;
    transition: 0.3s;
    width: 65px;

}


btn1:hover{
    opacity: 50%;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

btn2:hover{
    opacity: 50%;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}



.home-3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #AAAAAA;
    padding: 90px;
    min-height: 60vh;
    max-height: 85vh;
    height: auto;
    width: 100%;
}

.home-4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 90px;
    min-height: 45vh;
    max-height: 60vh;
    height: auto;
    width: 100%;
}


.home-h1{
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.home-h2{
    color: black;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'nino-mtavruli';
    margin-bottom: 5px;
}

.home-left{
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.btn{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 7.5px;
    border-style: groove;
    border-color: white;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 90px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    transition: 0.3s;
    font-family: 'nino-mtavruli';
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}

.btn:hover{
    opacity: 70%;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.square{
    max-width: 450xp;
}

.text1{

    font-size: 15px;
    margin-right: 25px;
    color: #e5e7eb;
    font-family: "bgp-arial";
    line-height: 25px;
}

.text2{

    font-size: 15px;
    margin-right: 25px;
    color: black;
    font-family: "bgp-arial";
    line-height: 25px;
    margin-bottom: 185px;
}

.gallery{
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgb(113 108 108 / 53%);
    margin:50px;
    width:500px;
    clip-path:polygon(0 0,100% 0,200% 100%,200% 200%,100% 200%,0 100%);
}

.flex-2{
    display: flex;
    align-items: baseline;
}

.text3{

    font-size: 15px;
    margin-right: 25px;
    margin-top: -5px;
    color: black;
    font-family: 'nino-mtavruli';
    line-height: 25px;
}
.odin{
    margin-left: 20px;
    width: auto;
    height: 35px;

}